/* Task.module.css */
.completed-task {
    text-decoration: line-through;
    color: grey;
    opacity: 0.6; /* Default text color */
}

.incomplete-task {
    /* Basic or default text styles; modify as needed */
    color: #212529; /* Default text color */
}